<div class="skills row">
    <div class="col-md-6">        
        <p><span><i class="fa-solid fa-code" style="color: #5dc9d0;"></i> Langages de programmation :</span></p>
        <p class="skill">Kotlin, Java, PHP, NodeJS, Python</p>

        <p><span><i class="fa-solid fa-globe" style="color: #5dc9d0;"></i> Web :</span></p>
        <p class="skill">Typescript, React, Vue, OpenAPI</p>

        <p><span><i class="fa-solid fa-toolbox" style="color: #5dc9d0;"></i> Outils :</span></p>
        <p class="skill">Git, Figma, Trello</p>

        <p><span><i class="fa-solid fa-server" style="color: #5dc9d0;"></i> Administration Système:</span></p>
        <p class="skill"> GNU/Linux, Nixos, Jenkins</p>
           </div>
    <div class="col-md-6">
        <p><span><i class="fa-solid fa-gear" style="color: #5dc9d0;"></i> Méthodes :</span></p>
        <p class="skill"> Agile/Software craftmanship, UX Design, UI Atomic Design, Peer review, Test Driven Development, Hexagonal architecture, Micro services</p>

        <p><span><i class="fa-solid fa-user" style="color: #5dc9d0;"></i> Non technique :</span></p>
        <p class="skill"> Enseignement, Gestion de projet, Formation et support utilisateur, Création de contenus Vidéo/Audio/Texte</p>

        <p><span><i class="fa-solid fa-language" style="color: #5dc9d0;"></i> Langues :</span></p>
        <p class="skill">Anglais (courant, TOEIC Max), Allemand (ancien B2), Chinois (en apprentissage HSK3), Japonais (ancien A2), Russe (ancien A1)</p>
    </div>
</div>